:root {
    --green: #00FF00;
    --red: #FF0000;
    --crim: #ad1131;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
    background-color: var(--crim);
}

.light-theme {
    --bg: var(--crim);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}
#time{
    background-color: white;
}


